body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image:url('./img/spacebg.jpg');
  background-size: 100% 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:50px solid red;*/
  /*border-radius:50px;*/
  position:absolute;
  width: 96px;
  height: 96px;
  background-image:url('./img/pikachu.gif');
  background-size: 96px 96px;
}

.spaceInvader{
  position:absolute;
  width: 50px;
  height: 50px;
  background-image:url('./img/spaceinvader.png');
  background-size: 50px 50px;
}

.pokeball{
  position:absolute;
  width: 35px;
  height: 35px;
  background-image:url('./img/pokeball.gif');
  background-size: 35px 35px;
}
